.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navbar-nav {
  --bs-nav-link-hover-color: #ffffff;
}
.navbar-toggler {
  background-color: #a8e00f;
  /* color: #00000000; */
}

.nav-link {
  color: #a8e00f;
}
.nav-link:active {
  color: #a8e00f;
}

.nav-link:hover {
  color: #ffffff;
}
