body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  color: white;
  overflow-x: hidden;
}
.profile-card {
  background-color: #585858;
  border: 3px solid #81d412;

  /* border-radius: 50% 50% 10px 10px; */
}
.profile-card .card-img-top {
  margin-top: 10px;
  border-radius: 50%;
  max-width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.profile-card .card-body p:first-child,
.profile-card .card-body p:nth-child(2) {
  color: #81d412;
  font-weight: 900;
  font-size: 30px;
}
.profile-card .card-body p:nth-child(3) {
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
}

.album .card {
  background-color: #585858;
  height: 100%;
  border-radius: 0;
  border: 1px solid #5a5a5a;
}
.cardContaier {
  overflow: hidden;
}
.album .card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation: scaleAnimation 15s infinite ease-in-out;
}
.card-text {
  color: #81d412;
  font-weight: 800;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.nav-link .active {
  color: white !important;
}
